.MyScores {
  text-align: center;
}

.MyScores-logo {
  animation: MyScores-logo-spin infinite 20s linear;
  height: 80px;
}

.MyScores-logo-kepler {
  height: 80px;
}

.MyScores-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.MyScores-title {
  font-size: 1.5em;
}

.MyScores-intro {
  font-size: large;
}

@keyframes MyScores-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
